* {
    margin: 0;
    padding: 0;
}

body {
    background: url("src/sky-clouds.jpg") no-repeat fixed;
    background-size: cover;
}

.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
    grid-gap: .5rem;
}

.btn {
    cursor: pointer;
}

#day {
    font-size: 28px;
    font-weight: bold;
}

#icon {
    margin: 10px auto;
    width: 75px;
}

#temperature {
    font-size: 26px;
    font-weight: bold;
}

.card {
    background-color: rgba(255, 255, 255, 0.5);
}

#picture{
}

#imgTarget{
    width: 1000px;
    height: 500px;
    border: 1px solid black;
    background-size: cover;
    display: none;
}